@media all and (max-width:654px){
    .menu {
        float:none;
        width: 200px;
        margin: 0px auto;
        padding: 5px;
    }
    .content{
        margin-left: 0px; 
     background: url("../img/boll.jpeg") repeat-x ;
    }
     .content img{   
        margin-bottom: 10px;
    }
    }
    @media all and (max-width:478px){
       p {
        text-align: justify;
    }
       .content img {
           float:none;
           display: block;
            margin: 0 auto 10px auto;
    }
    }
    




