* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #0000ff;
    padding-top: 15px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    /* width: 900px; */
    margin: 0 auto;
}

.header,
.footer {
    text-align: center;
    background-color: #add8e6;
    min-height: 60px;
}

.menu_content {
    background-color: #f0e68c;
}

.menu {
    float: left;
    width: 200px;
    padding: 10px;
}

.menu ul {
    padding-left: 20px;
}

.content {
    margin-left: 200px;
    padding: 20px;
    background: url("../img/boll.jpeg") repeat-y right top;
    background-color: #ffffff;
}

.content h3 {
    text-align: center;
}

.content img {
    width: 250px;
    height: 165px;
    float: left;
    margin-right: 20px;
}