@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  src: url('PFDinTextCompPro-Regular.eot');
  src: url('PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg'),
       url('PFDinTextCompPro-Regular.ttf') format('truetype'),
       url('PFDinTextCompPro-Regular.woff') format('woff'),
       url('PFDinTextCompPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

