*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 16px;
    font-family: 'PFDinTextCompPro-Regular', sans-serif; 
/* height: 5000px; */
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    color:#5B5B5B;
    font-size:30px;
    text-align: center;
}
li{
    list-style-type: none;
}
.wrapper{
    background-color:#2F3032;
}


.clearfix:after{
    content: "";
    display: block;
    clear: both;
}


.container{
    width: 1096px;
    margin: 0 auto;
}

.sideMenu{
   width: 176px; 
   float: left;
   text-align: center;
   padding-top: 36px;
   color: #FCFCFC;
  
}

.sideMenu > img{
    width: 120px;
    margin-bottom: 33px;
}

.menu{
    margin-bottom: 238px;
}

.menu li{
    height: 39px;
    border-left: 4px solid transparent;

}


.menu li:hover{
    border-left: 4px solid #D9BE8F;
    background-color: #252628;
}
.menu li a{
    padding-top: 11px;
   display: inline-block;
   width: 100%;
   height: 100%;
}

.language{
margin-bottom: 25px;
}

.language li{
   display: inline-block; 
}
.social{
    padding-bottom: 30px;
}

.social li{
    display: inline-block;
    margin: 0 7px;
}

/*==========================*/
.content-wrap{
    margin-left: 176px;
    background-color: #FCFCFC;
    
}

.searchTop{
height: 65px;

padding-top: 25px;
}

.search_left{
    float: left;
}
.search_right{
    float: right;
}
.search_right img{
    margin: 0 7px;
}
.list{
   
    height: 48px;
     margin: 0 auto;
    text-align: center;
 
}
.list-img{
    width: 70px;
    height: 48px;
    background: url('../img/list.png') no-repeat center #FCFCFC;
    margin: -26px auto 0;
}


.line{
    height: 3px;
    background-color: #DADADA;
    margin-top: 1px;
}
/* catalog */
.catalog{
    padding-top: 50px;
    overflow: hidden;
}
.catalog div{
    text-align: center;
    width: 543px;
    height: 409px;
    padding-top: 160px;
}
.catalog div p{
    color: #FFFFFF;
    font-size: 18px;
}

.catalog div h3{
    color: #FFFFFF;
    font-size: 42px;
    margin-top: 10px;
    
}

.catalog div:first-child{
    float: left;
background: url('../img/item1.jpeg') no-repeat center;
}
.catalog div:last-child{
    float: right;
    background: url('../img/item2.jpeg') no-repeat center;
    }
    /* catalog1 */
.catalog1{
    margin-top: 10px;
}


.catalog1 > div{
    width: 543px;
    height: 267px;
}
.catalog1-left{
    float: left;
    background: url('../img/item3.jpeg') no-repeat center;
}

.catalog1-left p{
   color:#333333;
   font-size:16px;
   background-color: #fff;
   padding: 10px 5px 5px;
   margin-top: 14px;
   margin-left: 12px;
  display: inline-block;
  height: 33px;
}
.catalog1-right{
    float: right;
}
.catalog1-right > div{
    width: 267px;
    height: 267px;
    padding-top: 14px;
    padding-left: 12px;
}
.catalog1-right > div:first-child{
   float: left;
    background: url('../img/item4.jpeg') no-repeat center;
}
.catalog1-right > div:last-child{
    float: right;
    background: url('../img/item5.jpeg') no-repeat center;
}
.catalog1-right > div p.cat-title{
    color:#333333;
    font-size:16px;
    background-color: #fff;
    padding: 10px 5px 5px;
    display: inline;
    line-height: 30px;
}
.catalog1-right > div:first-child span{
    color:#FFFFFF;
    font-size:16px;
    background-color:#2F3032;
    height: 33px;
    padding: 10px 5px 5px;
    display: inline-block;
}

.left-to-right .catalog1-right{
    float: left;
}
.left-to-right .catalog1-left{
    float: right;
}

.left-to-right .catalog1-left{
     background: url('../img/item8.jpeg') no-repeat center;
}

.left-to-right .catalog1-right > div:first-child{
     background: url('../img/item6.jpeg') no-repeat center;
 }
 .left-to-right .catalog1-right > div:last-child{
     background: url('../img/item7.jpeg') no-repeat center;
 }

.left-to-right {
    margin-bottom: 60px;
}

/* recipies */
.recipies{
margin-top: 41px;
margin-bottom: 50px;
}

.recipe{
    width: 544px;
    height: 268px;
    float: left;
    border: 2px solid #F2F2F2;
    margin-bottom: 10px;
}
.recipe:nth-child(even){
    margin-left: 8px;
}


.recipe-img{
    width: 267px;
    height: 266px;
    float: left;
}
.recipe-img1{
    background: url('../img/recipe1.jpeg') no-repeat center;
}
.recipe-img2{
    background: url('../img/recipe2.jpeg') no-repeat center;
}
.recipe-img3{
    background: url('../img/recipe3.jpeg') no-repeat center;
}
.recipe-img4{
    background: url('../img/recipe4.jpeg') no-repeat center;
}
.recipe-img5{
    background: url('../img/recipe5.jpeg') no-repeat center;
}
.recipe-img6{
    background: url('../img/recipe6.jpeg') no-repeat center;
}
.recipe-img7{
    background: url('../img/recipe7.jpeg') no-repeat center;
}
.recipe-img8{
    background: url('../img/recipe8.jpeg') no-repeat center;
}
.recipe-img9{
    background: url('../img/recipe9.jpeg') no-repeat center;
}
.recipe-img10{
    background: url('../img/recipe10.jpeg') no-repeat center;
}

.recipe-img .author{
    margin-top: 227px;
    margin-left: 14px;
}
.recipe-img .author img{
    border-radius: 50%;
    float: left;
}
.recipe-img .author p{
    padding-top: 6px;
    margin-left: 42px;
    color:#BCBCBC;
}
.recipe-content{
  margin-left: 267px;
}
.recipe-content h3{
    color:#3D3D3D;
    font-size:24px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 20px;
    line-height: 22px;
}
.recipe-content ul{
    text-align: center;
    margin-bottom: 15px;

}
.recipe-content ul li{
    height: 29px;
    display: inline-block;
    border: 1px solid #E8E8E8;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
    padding-top: 5px;
    color:#B5904E;
    font-size:12px;
}
.recipe-content ul li span{
    vertical-align: 5px;
    margin-left: 5px;
}
.recipe-content h3 + div{
    padding-left: 12px;
    padding-right: 12px;
}

.recipe-content p{
    color:#5B5B5B;
    font-size:14px;
}
.recipe-content-footer{
    padding-left: 25px;
    padding-right: 25px;
    border-top: 2px solid #F2F2F2;
    margin-top: 14px;
    padding-top: 20px;
}
.count-like{
    float: left;
}
.recipe-content-social{
    float: right;
}

.count-like span{
    color:#9B9B9B;
    font-size: 15px;
    vertical-align: 4px;
    margin-left: 2px;
}
.recipe-content-social img{
    margin-right: 9px;
    margin-left: 9px;
}
/* hot-selection */

.hot_selection ul li{
    width: 267px;
    height: 427px;
    float: left;
    margin-left: 7px;
   
}
.hot_selection ul li:nth-child(1){
  background: url('../img/hot_selection1.jpeg') no-repeat center;
}
.hot_selection ul li:nth-child(2){
    background: url('../img/hot_selection2.jpeg') no-repeat center;
}
.hot_selection ul li:nth-child(3){
    background: url('../img/hot_selection3.jpeg') no-repeat center;
}
.hot_selection ul li:nth-child(4){
    background: url('../img/hot_selection4.jpeg') no-repeat center;
}
.hot_selection ul li p{
    text-align: center;
    color:#F0F0F0;
    font-size:26px;
    margin-top: 324px;
}
.hot_selection ul li:nth-child(2) p{
    margin-top: 355px;
}

.hot_selection ul li:nth-child(3) p{
    margin-top: 292px;
}
.hot_selection + h2{
    margin-top: 50px;
    margin-bottom: 34px;
}
.top_autors{
    text-align: center;
    margin-bottom: 24px;
}

/* subscribe */

.subscribe{
    height: 127px;
    background-color:#E8E8E8;
    padding-top: 22px;
}

.subscribe h4{
    color:#252627;
    font-size:14px;
    text-align: center;
}
.footer{
    height: 62px;
    background-color:#252627;
    overflow-y: hidden;
}
.footer .container{
    padding-top: 24px;
}
.footer-nav{
    float: left;
}
.footer-nav li{
    float: left;
    color:#949494;
    margin-left: 10px;
    margin-right: 10px;
}
.footer-social{
    float: right;
}
























