* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
input,
select,textarea,span {
    margin-bottom: 7px;
}
span {
    display: inline-block;
    width: 190px;
}
.wrap {
    min-width: 616px;
    margin: 0 auto;
    /*border: solid 1px grey;
    background-color: rgb(231, 229, 229);*/
    padding: 0px 5px;
}
.title{
    text-align: center;
}

div.float-article input {
    float: right;
    width: calc(100% - 190px);
}
span.radio {
    display: inline;
}
textarea {
    width: 100%;
}




