*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-size: 14px;
    font-family: 'Gudea', sans-serif;
    color: #979695; /*не забыть убрать цвет с тегов*/
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 2000px;
    background: url(../img/fon.png) center;  /*не забыть переформатировать картинку*/
    margin: 0 auto;
    padding-top: 20px;
}
.container{
    max-width: 1020px;
    margin: 15px auto;
    padding: 35px 39px;
    background-color: #ffffff94;
 }

/* =============== Header ==================== */

.header_top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
 }

.header_top div{
    margin-right: 20px;
    white-space: nowrap;
}
.header_top div.logo{
    margin-right: 70px;
}
.logo{
    position: relative;
    top: 7px;
}
.logo span:first-child{
    text-transform: uppercase;
    color:#333333;
    font-family: 'Raleway', sans-serif;
    font-size:45px;
}
.logo span:last-child{
    text-transform: uppercase;
    color:#979695;
    font-size:25px;
}

.navigation1 ul li{
    display: inline-block;
    border-right: 2px solid #979695;
    padding: 0px 9px 0 4px;
}
.navigation1 li:last-child{
    border-right: none;    
}
.navigation1 ul li a{
    opacity:0.8;
    color:#545454;
}
.navigation1 ul li a:hover{
    opacity:1;
    color:#333333;
    font-weight: bold;
}
.basket{
   width: 204px;
   height: 38px;
   display: inline-flex;
 }
.basket img{
    margin-right: 7px;
    vertical-align: -4px;
}
 
.basket_text span:first-child{
    color: #979695;
}  
.basket_text span:last-child{
    color:#92A351;
    font-size: 16px;
}
div.basket, div.basket_text{
    margin-right: 0;
}
/* =============== navigation2 ==================== */
.navigation2_flex{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.navigation2_flex a{
    margin-right: 25px;
    color:#A6B95B;
    font-size:18px;
    border-bottom: 2px solid transparent;
}
.navigation2_flex a:hover{
    font-weight: bold;
    border-bottom: 2px solid #A6B95B;
}






/* =============== Preview  ==================== */
.content1{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 20px;
}

.preview{
    width: 700px;
    height: 369px;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
}
.preview_foto{
    /* position: absolute; */
    /* position: relative; */
    /* top: 0; */
    /* left: 0%; */
    z-index: 1;
}
.preview_content{
    position: absolute;
    width: 236px;
    height: 185px;
    /* background-color: rgba(107, 120, 231, 0.7); */
    /* position: relative; */
    top: 55px;
    left: 55px;
    z-index: 2;
}
.preview_content >p{
    color:#FAF9F6;
    font-size:24px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 30px;
}
.preview_content_text{
    width: 175px;
    height: 120px;
}
.preview_content_text p{
    color:#EAEAE9;
    margin-bottom: 19px;
}
.sale_on{
    width: 220px;
    /* height: 255px; */
    /* border: solid 1px rgb(234 231 231); */
}
.sale_on_top{
    border: solid 1px rgb(234 231 231);
}
.sale_on_text{
    width: 220px;
    height: 111px;
    padding: 25px 0 0 10px;
    border-bottom: solid 1px rgb(241 239 239);
}
.sale_on_text p:first-of-type{
    color:#333333;
    font-family: 'Raleway', sans-serif;
    font-size:35px;
}
.sale_on_text p:last-of-type{
    color:#936D5C;
    font-size:16px;
}
.sale_on_img{
    height: 141px;
}
.sale_on_subscribe{
    border-top: 1px dotted;
    margin-top: 12px;
    padding-top: 12px;
    width: 220px;
    /* height: 91px; */
    color: #979695;
 }
 .sale_on_button{
    margin-top: 17px;
 }

/* =============== New Products  ==================== */
div.new_products > p{
    color:#979695;
    font-family: 'Raleway', sans-serif;
    font-size:24px;
    margin: 13px 0px;
  }

div.new_products_flex{
    display: flex;
  }
.new_products_item{
    /* border: 1px solid red; */
    width: 25%;
    padding: 0px 9px;
    height: 291px;
    margin-bottom: 30px;
}
.new_products_item:last-child{
    padding-right: 0px;
}
.new_products_icon{
    width: 100%;
    height: 130px;
}
.new_products_title{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 12px;
    color: #92A351;
    font-family: 'Raleway', sans-serif;   
}
.new_products_title span{
    margin-left: 7px;
}
.new_products_text{
    color:#979695;
    margin-bottom: 20px;
    height: 75px;
    overflow: hidden;
}

form.view button:first-of-type{
    margin-right: 20px;
}


/* =============== Footer  ==================== */
.footer_flex{
    display: flex;
    justify-content: space-between;
}
.footer_info,
.footer_account,
.footer_contacts{
    width: 24%;
    border-right: 1px dotted rgb(189, 187, 187);
    padding: 0px 12px;
}
.footer_info >p,
.footer_account >p,
.footer_contacts p{
    color:#979695;
    font-family: 'Raleway', sans-serif;
    font-size:21px;
    margin-bottom: 10px;
}
.footer_info li,
.footer_account li{
   margin-bottom: 4px;
}
.footer_info a,
.footer_account a,
.footer_contacts_adress{
    color:#979695;
}
.footer_info a:hover,
.footer_account a:hover{
    font-weight: bold;
    color:#636262;
}
.footer_delivery{
    width: 28%;
    padding-left: 12px;
}
.footer_delivery >p{
    color:#333333;
    font-family: 'Raleway', sans-serif;
    font-size:30px;
    margin-bottom: 10px;
}
.footer_delivery span:first-of-type{
    color:#936D5C;
    font-size:18px;
}
.footer_delivery span:last-of-type{
    color:#979695;
}

/* =============== Footer_down  ==================== */
.footer_down{
    max-width: 1030px;
    margin: 0px auto;
    padding: 8px 39px 29px;
    display: flex;
    justify-content: space-between;
}
.footer_down_logo{
    width: 240px;
    height: 70px;
    /* border: 1px solid red; */
}
.footer_down_logo p:nth-child(1){
    text-transform: uppercase;
    color:#333333;
    font-family: 'Raleway', sans-serif;
    font-size:24px;
}
.footer_down_logo p:nth-child(2){
    text-transform: uppercase;
    color:#979695;
}
.footer_down_logo p:nth-child(3){
    color:#A9A9A9;
    font-size:15px;
}

.footer_down_social{
    width: 67px;
    height: 29px;
    /* border: 1px solid red; */
}
   
    








