
.look_preview_title {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;

}
.cart_top{
    display: flex;
    justify-content: space-between;
}
.look_preview_title span {
    margin-left: 60px;
}

.look_preview_main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.look_preview_left {
    display: flex;
    justify-content: space-between;
   padding-top: 17px;
    margin: 0px 20px 20px 0px;
}
img.look_preview_foto {
    width: 381px;
    /* height: 273px; */
    margin: 0px 20px 0px 0px;
}
.look_preview_content p{
   height: 145px;
    overflow: hidden;
    margin-bottom: 18px;
   }
   .look_preview_content a{
    color: #A6B95B;
    margin-bottom: 34px;
}
.look_preview_button1{
    margin: 25px 0px;
    display: flex;
}
.look_preview_form,
.look_preview_button2 button:first-of-type{
    margin-right: 40px;
}

.look_preview_button2{
   display: flex;
}
.look_preview_button2 button{
    padding: 4px;
}
.look_preview_button2 button:first-of-type img{
   width: 18px;
   height: 16px;
   margin-right: 5px;
   vertical-align: middle;
 }
.img_left{
    position: relative;
}
.img_left img{
    width: 182px;
    height: 130px;
    margin: 0px 10px 18px 0px;
}
.glass2 {
    opacity: 0.7;
    transition: 1s;
}
.glass2:hover {
    opacity: 1;
    transform: scale(2); 
}
img.glass{
    position: absolute;
    width: 43px;
    height: 44px;
    top: 42px;
    left: 66px;
}

.more_details {
   padding-right: 20px;
}
.more_details h3{
    font-size:24px;
    font-family: 'Raleway', sans-serif;
    margin: 1px 0px 20px 0px;
}

.more_details a{
    display: inline-block;
    color:#92A351;
    font-family: 'Raleway', sans-serif;
    margin-right: 27px;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
}
.more_details h3+a{
    font-weight: bold;
    border-bottom: 1px solid #92A351;
}
.more_details a:hover{
    font-weight: bold;
   border-bottom: 1px solid #92A351;
}
.more_details p{
    padding: 5px 10px 5px 0px;
}
.more_details p:last-of-type{
   margin-bottom: 10px;
}
/* =============== look_preview_right ==================== */
div.make_like {
    margin-bottom: 10px;
}
div.make_like span{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-right: 20px;
}
div.make_like img{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-right: 20px;
    vertical-align: text-bottom;
}
.preview_right_item {
    width: 220px;
    height: 184px;
    border: 1px solid gray;
    background-color: #EEE6DB;
    padding: 3px;
    overflow: hidden;
    margin: 10px 0px;
    position: relative;
}

.preview_right_foto {
    width: 214px;
    height: 128px;
}

.preview_right_item p,
.preview_right_item span {
    color: #92A351;
    /* font-family: 'Raleway', sans-serif; */
    margin: 4px 0px;
}

.preview_right_item > div{
    display: flex;
    justify-content: space-between;
}
[href="product2.html"]::before {
    content: url('../img/extref.png')
}
.preview_right_item a{
    color:#92A351;
    font-family: 'Raleway', sans-serif;
}
.preview_right_item a:hover{
    color:#0e5bcf;
    font-weight: bold;
}


/* =============== Новая страница cart.html ==================== */
a.home{
    color: #A6B95B;
}
a.home::after {
    content:"/" ;
}
span.continue_shopping{
    float: right;
    margin-bottom: 40px;
}
form.cart_basket button,
form.cart_bottom_form button,
form.cart_bottom_form input{
    padding: 3px;
}
form.cart_basket button img,
button.update img{
    margin-right: 5px;
    vertical-align: middle;
}

.cart_bottom_button{
    position: relative;
}

.cart_table table{
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgb(194, 192, 192);
    border-collapse: separate; 
    border-spacing: 12px 16px;
    margin-bottom: 24px;
}

.cart_table table td {
    padding: 2px;
   }
.cart_table table tr:first-child{
    font-family: 'Raleway', sans-serif;
    font-size:16px;
}
.cart_item td:first-of-type{
    width: 130px;
}
.cart_item td:first-of-type img{
    width: 126px;
    height: 85px;
}
.cart_table span:last-child{
    font-family: 'Raleway', sans-serif;
    font-size:18px;
}
.cart_table p{
    float: right;
}
.cart_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
}
.cart_bottom span:first-child{
    display: inline-block;
    margin: 20px 20px 20px 0px;
    font-family: 'Raleway', sans-serif;
    font-size:18px;
}
.cart_bottom_form button:nth-child(2){
    top: 3px;
    left: 188px;
}
.cart_bottom_form input,
.cart_bottom_form button{
    margin-right: 20px;
}
span.continue_shopping a{
    color:#A6B95B;
}
/* =============== Новые страницы log_in.html,register.html,contact.html,privacy.html ==================== */
.login,
.register,
.contact{
    display: flex;
}
.login_left,
.register_left,
.contact_left{
    width: 70%;
    padding: 5px 5px 5px 0px;
    margin-right: 15px;
}
.login_right,
.register_right,
.contact_right{
    width: 30%;
    padding: 5px 5px 5px 0px;
}
.register_left form{
    margin-bottom: 25px;
}
.login_left p,
.login_right p,
.contact_left p,
.contact_right>img,
.privacy p{
    padding: 10px 0px;
   
}

.login_right p a,
.register_left p a,
.register_right p a,
.contact_left p a,
.privacy p span a{
    color:#A6B95B
}
.register_right p{
    margin-bottom: 20px;
}
button.register{
   position: relative;
    padding: 2px;
    width: 95px;
    height: 24px;
 }
.register_left button.register{
    align-self: flex-end;
    top: 26px;
}
button.register img {
    position: absolute;
    top: 0px;
    left: 72px;
    padding: 3px;
    border: 1px solid #b2b3b2;
    border-radius: 3px;
    cursor: pointer;
}
.login_right input{
    margin-bottom: 10px;
}
.register_left input,
.contact_left input{
   margin: 10px 10px 10px 0px;
   /* cursor: pointer; */
}
.register_left form,
.contact_left form{
   display: flex;
   flex-wrap: wrap;
 }

.contact_left form textarea{
    width:100%; 
    height:207px;
    resize: none;
    margin-bottom: 15px;
}

.contact_left button.register{
    margin-bottom: 20px;
}
.contact_right>img{
    width: 220px;
    height: 180px;
}
form.error{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
form.error button{
    color:#464646;
}

form.error button:first-child{
    margin-right: 20px;   
}
form.error button:first-child img{
    transform: rotate(180deg);
}

/* =============== Новая страница .html ==================== */
